* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#page {
    display: grid;
    width: 100%;
    height:100%;
    grid-template-areas:
      "head nav nav"
      "main main main"
      "foot1 foot1 foot2";
    grid-template-rows: minmax(50px 1fr) minmax(300px 7fr) 2fr;
    grid-template-columns: 1fr 5fr 2fr;
}

.breadcrumb {
    color: gray;
    font-size: small;
    padding-left: 10px;
    padding-top: 5px;
    height: 20px;
}

#page > header {
    grid-area: head;
    padding-left: 10px;
    padding-top: 20px;
    font-size: large;
    color: black;
    background-color: rgb(193, 193, 193);
    text-align: center;
    
}

#page > nav {
    
    grid-area: nav;
    background-color: rgb(193, 193, 193);
        
}

#page > main {
    grid-area: main;
    background-color: rgb(233, 233, 233); 
        
}

/* --- FOOTER --- */
#page > footer1 {
    grid-area: foot1;
    background-color: rgb(93, 138, 252);
    
}

#page > footer2 {
    grid-area: foot2;
    background-color: rgb(143, 175, 254);

}

footer2 a {
    display: block;
    padding: 5px 10px 10px;
    text-decoration: none;
}

footer2 a:active {
    color: rgb(12, 119, 201);
}

footer2 a:visited {
    color: orange;
}

footer2 a:hover {
    color: red;
}

footer1 {
    padding: 10px 10px 10px;
}


/* --- NAV BAR --- */
.navBar {
    display: flex;
    justify-content: right;

}

.navBar a {
    display: block;
    text-align: center;
    height: 40px;
    width: auto;
    justify-self: center;
    background-color: black;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 20px 0px;
    margin-right: 20px;
}

/* --- BODY --- */
main > section {
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 25px;
    padding-bottom: 25px;
}

main > section h2 {
    color: red
}

main > section p {
    padding-top: 10px;
    padding-bottom: 25px;
}

.blueSection {
    height: minmax (200px 600px);
    background-color: rgb(106, 106, 255);
}

.graySection {
    height: minmax (200px 600px);
    background-color: rgb(150, 150, 150);
}


/* --- MOBILE --- */