* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {

}

#page {
    display: grid;
    width: 100%;
    height:100%;
    grid-template-areas:
      "head nav nav"
      "main main main"
      "foot foot foot";
    grid-template-rows: minmax(50px 1fr) minmax(300px 7fr) 2fr;
    grid-template-columns: 1fr 5fr 1fr;
}

#page > header {
    grid-area: head;
    padding-left: 10px;
    padding-top: 20px;
    font-size: large;
    color: black;
    text-align: center;
    
}

#page > nav {
    height: 60px;
    grid-area: nav;
    background-color: rgb(91, 91, 91);
        
}

#page > main {
    grid-area: main;
    background-color: rgb(202, 202, 202);
        
}

.navBar {
    display: flex;
    padding-top: 10px;
    justify-content: right;



    
}

.navBar a {
    display: block;
    text-align: center;
    height: 40px;
    width: auto;
    justify-self: center;
    background-color: black;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 20px 0px;
    margin-right: 20px;
}

#page > footer {
    grid-area: foot;
    background-color: rgb(134, 134, 255);
    
}