* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#page {
    display: grid;
    width: 100%;
    height:100%;
    grid-template-areas:
      "head nav nav"
      "main main main"
      "foot1 foot1 foot2";
    grid-template-rows: minmax(50px 1fr) minmax(300px 7fr) 2fr;
    grid-template-columns: 1fr 5fr 2fr;
}

.breadcrumb {
    color: gray;
    font-size: small;
    padding-left: 5%;
    padding-top: 5px;
    padding-bottom: 15px;
    height: 20px;
}

#page > header {
    grid-area: head;
    padding-left: 10px;
    padding-top: 20px;
    font-size: large;
    color: black;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
}

#page > nav {
    
    grid-area: nav;
    background-color: rgb(255, 255, 255);
        
}

#page > main {
    grid-area: main;
    background-color: rgb(255, 255, 255); 
        
}

/* --- FOOTER --- */
.line1 {
    height: 1px;
    width: 100%;
    background-color: black;
}

#page > footer1 {
    grid-area: foot1;
    background-color: rgb(255, 255, 255);
    padding-left: 10%;
    padding-top: 25px;
    font-size: small;

    padding-bottom: 25px;
    
}

#page > footer2 {
    grid-area: foot2;
    background-color: rgb(255, 255, 255);
    padding-top: 25px;

    padding-bottom: 25px;

}

footer2 a {
    display: block;
    padding: 5px 10px 10px;
    text-decoration: none;
}

footer2 a:link {
    color: rgb(0, 0, 0);
}

footer2 a:active {
    color: rgb(255, 208, 0);
}

footer2 a:visited {
    color: rgb(0, 0, 0);
}

footer2 a:hover {
    color: rgb(96, 76, 0);
}

footer1 {
    padding: 10px 10px 10px;
}


/* --- NAV BAR --- */
.navLine {    
    height: 1px;
    width: 80%;
    margin-left: auto;
    background-color: rgb(218, 218, 218);

}

.navBar {
    display: flex;
    justify-content: right;

}

.navBar a {
    display: block;
    text-align: center;
    height: 40px;
    width: auto;
    justify-self: center;
    background-color: rgb(218, 218, 218);
    color: rgb(94, 94, 94);
    text-decoration: none;
    padding: 20px 20px 0px;
    margin-right: 20px;
}

.navBar a:hover {
    color: rgb(228, 184, 5);
}

/* --- BODY --- */
main > section {
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 25px;
    padding-bottom: 25px;

    color: black;
}

main > section h2 {
    color: rgb(85, 85, 85)     
}

main > section p {
    padding-top: 10px;
    padding-bottom: 25px;
}

.welcome {
    min-height: 400px;
    background: linear-gradient(45deg, rgb(255, 255, 255), rgba(252, 208, 86, 0.751)), url("../images./soccer1.jpg");
    background-position: top;
    background-size: cover;
}

.upcomingEvents {
    min-height: 400px;
    background: linear-gradient(270deg, rgb(255, 255, 255), rgba(252, 208, 86, 0.751)), url("../images./soccer2.jpg");
    background-position: center;
    background-size: cover; 
}

.pastEvents {
    min-height: 400px;
    background: linear-gradient(45deg, rgb(255, 255, 255), rgba(252, 208, 86, 0.751)), url("../images./soccer3.jpg");
    background-position: center;
    background-size: cover; 
}


/* --- MOBILE --- */    